# Prerequisites
*.d
dynfoc
bnp_parser
playground
playground/*
dbg.h
*.png
*.bmp
*.bytes
*.pgm

C_baseline_b4_threads
C_multivar_8bands_parvar
C_multivar_8bands_parVOL_cropsync
C_multivar_8bands_parVOL_imgsync

Makefile


# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
outputs_for_comparison/maxVolSnippetImageDatas_34tape1FromScratch.bytes
C_baseline_b4_threads
